<app-main-toolbar></app-main-toolbar>
    <div class="contenedor-portada">
        <div class="capa-gradiente">
            <div class="contenedor-detalles">
                <div class="detalles">
                    <h1>Bienv<span>enido</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>COMPUTADORAS</mat-card-title>
              
            </mat-card-header>
            <img mat-card-image src="https://images.unsplash.com/photo-1551033541-2075d8363c66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="Photo of a Shiba Inu">

          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>ACCESORIOS</mat-card-title>
             
            </mat-card-header>
            <img mat-card-image src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Photo of a Shiba Inu">

          </mat-card>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>COMPONENTES</mat-card-title>
             
            </mat-card-header>
            <img mat-card-image src="https://images.unsplash.com/photo-1555581064-8ce820e50679?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Photo of a Shiba Inu">

          </mat-card>
          <br >                
    </div>
    <div class="flag">
        <div class="contenedor_texto">
            <h1>TODO EN TECNOLOGIA EN CODOTECH</h1>
        </div>
    </div>