<ul>
    <li><button (click)="mover1()">ir carrito</button></li>
    <li><button (click)="mover2()">ir dashboard</button></li>
    <li><button (click)="mover3()">ir entrega</button></li>
    <li><button (click)="mover4()">ir inicio</button></li>
    <li><button (click)="mover5()">ir toolbar</button></li>
    <li><button (click)="mover6()">ir formulario pago</button></li>
    <li><button (click)="mover7()">ir catalogo</button></li>
    <li><button (click)="mover8()">ir registro</button></li>
</ul>

<a href=""></a>