<app-main-toolbar></app-main-toolbar>

<body>
    <div class="contenedor-portada">
        <div class="capa-gradiente">
            <div class="contenedor-detalles">
                <div class="detalles">
                    <h1>Trac<span>king</span></h1>
                    <div class="input-tracker" [formGroup]="formGroup">
                        <label>Código de Rastreo:</label>
                        <input type="text" formControlName="id_compra">
                        <a (click)="consulta()"><button class="bn632-hover bn22">Buscar Pedido</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="contenedor">
            <div class="imagen1">
                <img src="../../assets/img/imagen1.png" alt="" srcset="">
                Pendiente de Recolectar
            </div>
            <div class="imagen2">
                <img src="../../assets/img/imagen2.png" alt="" srcset="">
                Recolectado
            </div>
            <div class="imagen3">
                <img src="../../assets/img/imagen3.png" alt="" srcset="">
                Almacenado
            </div>
            <div class="imagen4">
                <img src="../../assets/img/imagen4.png" alt="" srcset="">
                Ruta Entrega/Bodega
            </div>
            <div class="imagen5">
                <img src="../../assets/img/imagen5.png" alt="" srcset="">
                Entregado
            </div>
        </div>
    </div>
</body>
    