<body>
    <div id="contenedor">
        <div id="left">
            <div id="contenido1">
                <h1>DETALLES FACTURACION</h1><br>
                <label for="nombre_respuesta">Nombre</label>
                <p class="respuestas">nombre cliente</p><br>

                <label for="correo_respuesta">Correo Electronico</label>
                <p class="respuestas">Correo del cliente</p><br>

                <label for="Direccion_envio">Direccion Domicilio</label>
                <p class="respuesta_interna">Direccion de shipping</p>

                <label for="tarjeta_asociada">Detalles tarjeta</label>
                <P class="respuesta_interna" style="margin: 0%;">Empresa de tarjeta</P>
                <p class="respuesta_interna">Numero Tarjeta</p>

                <h2>Compras</h2>
                <p class="respuesta_total">Total: Q100.00</p>
                <div class="boton">
                    <button class="button">Pagar</button>
                </div>
            </div>
        </div>


        <div id="right">
            <div id="superior">
                <div id="toolbar">
                    <div class="w3-light-grey">
                        <div id="myBar" class="w3-container w3-green" style="height:24px;width:1%"></div>
                      </div>
                      
    
                    <p>Detalles Shipping</p>
                    <p>Detalles Tarjeta</p>
                    <p>Validacion Tarjeta</p>
                    <p>Generar Orden</p>
                </div>
            </div>
            <div id="inferior">
                <div id="inferior_izquierda">ascascascascasc</div>
                <div id="inferior_derecha">asdasdasdasd</div>
            </div>
        </div>

    </div>
</body>