<app-main-toolbar></app-main-toolbar>
<body [formGroup]="formGroup">
    <div class="main">
        <div id="contenedor" >
            <div id="left">
                <h1 style="color: white;">DETALLES FACTURACION</h1><br>
                <div id="contenido1">
                    <label for="nombre_respuesta">Nombre</label>
                    <p class="respuestas">nombre cliente</p><br>
    
                    <label for="correo_respuesta">Correo Electronico</label>
                    <p class="respuestas">{{(correo$ | async)}}</p><br>
    
                    <label for="Direccion_envio">Direccion Domicilio</label>
                    <p class="respuesta_interna">Direccion de shipping</p>
    
                    <label for="tarjeta_asociada">Detalles tarjeta</label>
                    <P class="respuesta_interna" style="margin: 0%;">Empresa de tarjeta</P>
                    <p class="respuesta_interna">Numero Tarjeta</p>
    
                    <h2>Compras</h2>
                    <p class="respuesta_factura1">Total: Q100.00</p>
                    <div class="botones" style="display: flex; align-items: center; flex-direction: column;">
                        <button  class="bn5" style="width: 70%; margin-top: 2%;">Pagar</button>
                    </div>
                </div>
            </div>
    
    
            <div id="right">
                <div id="superior">
                    <div id="toolbar">
                        <div id="barra">
                            <div id="relleno" style="width: 50%;"></div>
                        </div>
                        <div id="toolbar_abajo">
                            <p>Detalles Shipping</p>
                            <p>Detalles Tarjeta</p>
                            <p>Validacion Tarjeta</p>
                            <p>Generar Orden</p>
                        </div>
                    </div>
                </div>
                <div id="inferior">
                    <div id="inferior_izquierda">
                        <div id="contenido2">
                            <h1>TARJETA PAGO</h1>
                            <!--input de nombre-->
                            <label class="label">Nombre:</label>
                            <input type="text" placeholder="Ingrese un solo nombre" >
        
                            <!--input de numero-->
                            <label class="label"># Tarjeta:</label>
                            <input type="number" placeholder="Ingrese el numero de su tarjeta" >
        
                            <!--input de vencimiento-->
                            <label class="label">Fecha Vencimiento:</label>
                            <input type="date" >
        
                            <!--input de codigo-->
                            <label class="label">Codigo Seguridad:</label>
                            <input type="number" placeholder="ingrese el codigo de seguridad" >
        
                            <label class="label">Emisor de Tarjeta:</label>
                            <select ngfor>
                                <option>VISA</option>
                                <option>MASTERCARD</option>
                                <option>AMERICAN EXPRESS</option>
                                <option>DINNER CLUB</option>
                            </select>
        
                            
                            <h3 id="respuesta_tarjeta1">ESTADO: APROBADA</h3>
                            <h3 id="respuesta_tarjeta2"># AUTORIZACION: 88239423</h3>
                        </div>
                        <div class="botones"style="display: flex; align-items: center; flex-direction: column; margin:2%;">
                            <button  class="bn5" style="margin-bottom: 2%;">Verificar Tarjeta</button>
                            <button  class="bn5" style="margin-bottom: 2%;">Aceptar</button>
                        </div>
                    </div>
    
                    <div id="inferior_derecha">
                        <div id="contenido3">
                            <h1 style="color: white;">ENVIO DOMICILIO</h1>
                            <!--input de Direccion-->
                            <label class="label" style="color: white;">Direccion de Domicilio:</label>
                            <input type="text" placeholder="Ingrese su domicilio" formControlName="direccion">
        
                            <!--input de codigo postal-->
                            <label class="label" style="color: white;">Codigo Postal:</label>
                            <input type="text" placeholder="Ingrese su codigo postal" formControlName="destino">
        
                            <label class="label" style="color: white;">Empresas de Envio:</label>
                            <mat-radio-group aria-label="Select an option" formControlName="url">
                                <mat-radio-button  value="https://reqres.in/api/users/2" >GLAIEX</mat-radio-button><br>
                                <mat-radio-button value="soy cliente">Y&J EXPRESS</mat-radio-button><br>
                                <mat-radio-button value="soy cliente">FORZA G</mat-radio-button><br>
                                <mat-radio-button value="soy cliente">RGX</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label>Costo:</label>
                            <div>
                                <h3 id="courrier_respuesta_costo" style="color: white;">{{respuestas_courrier.email}}</h3>
                            </div>
                        </div>
                        
                        <div class="botones" style="display: flex; align-items: center; flex-direction: column;">
                            <button (click)="cotizar_courrier()" class="bn5" style="width: 90%;">Cotizar Precio de envio</button><br>
                            <button  class="bn5" style="width: 90%;">Aceptar Precio</button>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</body>