@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.main{
    width: 90%;
    margin-top: 100px;
  
    display: flex;
    justify-content: center;
    

}
body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: rgb(211, 209, 209);
    height: auto;
    h1{
        text-align: center;
        margin: 3%;
        color: #4d5bf9;
        font-weight: bold;
        font-size: 35px;
    }
    h3{
        margin: 0%;
        text-align: center;
    }

    label{
        color: white;
    }

    #contenedor{
        display: flex;
        flex-direction: row;
        margin: 5%;
        height: 80%;
        width: 200%;
    
        #left{
            background-color: #4d5bf9;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin: 1%;
            
            #contenido1{
                margin: 2%;
                color: white;
                .factura_respuesta{
                  color:black;
                }
            }
        }
        #right{

            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin: 1%;
            #superior{
                background-color: white;
                border-radius: 10px;
                margin: 1%;
                #toolbar{
                    display: flex;
                    flex-direction: column;
                    #barra{
                        background-color: gray;
                        margin: 2%;
                        height: 25px;
                        width: auto;
                        border-radius: 5px;
                        #relleno{
                            background-color: greenyellow;
                            height: 25px;
                            border-radius: 5px;
                        }
                    }
                    #toolbar_abajo{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        text-align: center;
                        color: #4d5bf9;
                        margin: 1%;
                    }
                }
            }
            #inferior{
                display: flex;
                flex-direction: row;
                justify-content: center;
          
                #inferior_izquierda{
                    background-color: white;
                    border-radius: 10px;
                    margin: 1%;
                    flex-grow: 1;
                    display: flex;
                    align-content: center;
                    flex-direction: column;
                    #contenido2{
                        display: flex;
                        flex-direction: column;
                        margin: 5%;
                    }
                    label{
                      color: #4d5bf9;
                    }
                    h3{
                      color: #4d5bf9;
                    }
                    
                }
                #inferior_derecha{
                    background-color: #4d5bf9;
                    border-radius: 10px;
                    margin: 1%;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    #contenido3{
                        display: flex;
                        flex-direction: column;
                        margin: 5%;   
                    }
                }
            }
        }
    }

    //css para botones
    .bn5 {
        padding: 0.6em 2em;
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
      }
      
      .bn5:before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowingbn5 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }
      
      @keyframes glowingbn5 {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }
      
      .bn5:active {
        color: #000;
      }
      
      .bn5:active:after {
        background: transparent;
      }
      
      .bn5:hover:before {
        opacity: 1;
      }
      
      .bn5:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #191919;
        left: 0;
        top: 0;
        border-radius: 10px;
      }

}