<app-main-toolbar></app-main-toolbar>
<body>
    <div class="contenedor-portada">
        <div class="capa-gradiente">
            <div class="contenedor-detalles">
                <div class="detalles">
                    <h1>Productos</h1>
                    <div class="input-tracker">
                        <label>Buscar por tipo o producto especifico:</label>
                        <input type="text">
                        <a href="/"><button class="bn632-hover bn22">Buscar Producto</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main">
        <!--titulo cambia segun el buscador-->
        <h1 style="text-align: center; font-size: 35px; margin: 2%; font-weight: 600;">Productos Mas Comprados</h1>
        <!--barra superior de elementos-->
        <div class="elementos">
            <div class="prueba">
                contenidoooooooooooo
            </div>
            <div class="prueba">
                contenidoooooooooooo
            </div>
            <div class="prueba">
                contenidoooooooooooo
            </div>
        </div>
        <!--barra inferior de elementos-->
        <div class="elementos">
            
            
            <div class="prueba">
                contenidoooooooooooo
            </div>
            <div class="prueba">
                contenidoooooooooooo
            </div>
            <div class="prueba">
                contenidoooooooooooo
            </div>
        </div>

    </div>
</body>
