<header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <div class="header_superior">
        <div class="logo">
            <img src="../../assets/img/logonegro.png" alt="" srcset="">
        </div>
        <div class="buscador">
            <input type="search" placeholder="Buscas algun producto?">
        </div>
    </div>
    <div class="container_menu">
        <div class="menu">
            <input type="checkbox" id="check_menu">
            <label id="label_check" for="check_menu">
                <span class="icon_menu material-symbols-outlined">
                    menu
                </span>
            </label>
            <nav>
                <ul>
                    <li><a href="#" id="selected"></a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="#">Usuario</a>
                        <ul>
                            <li><a href="#">Tracker Pedido</a></li>
                            <li><a href="#">Carrito Compras</a></li>
                            <li><a href="#">Cerrar Sesion</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
