<body>
    <div class="contenedor">
        <div class="imagen">
            <span><img src="../../assets/img/LOGIN.png" alt="" srcset="" width="500" height="500"></span>
        </div>
        <div class="formulario">
            <h1>Inicio Sesion</h1>
            <form action="">
                <span>Ingrese su correo:</span>
                <input type='text'>
                <span>Ingrese su contraseña:</span>
                <input type='password'>
                <span class="icon">
                    <i class="fas fa-key"></i>
                </span>
            </form>
            <button class="bn5" (click)="moverse2()">Iniciar Sesion</button>

            <p>No tiene una cuenta? <a href="/registro">Registrese</a></p>
        </div>
    </div>
</body>