    <!--nota: cambio genero un backgorund no full pintado-->
    <body>
        
        <section>
            <div class="logo_box">
            <img src="https://i.blogs.es/7d00d1/pc/1366_2000.jpeg" >
        </div>
        <div class="cuadro_login">
            <div class="form">
                <h2>Inicio de Sesion</h2>
                <form action="">
                    <div class="input">
                        <span>Correo</span>
                        <input type="text" name="">
                    </div>
                    <div class="input">
                        <span>Contraseña</span>
                        <input type="password" name="">
                    </div>
                    
                    <div class="input">
                        <input type="submit" (click)="moverse()" value="Iniciar Sesion" name="">
                    </div>
                    <br>
                    <div class="input">
                        <p>No tienes una cuenta? <a href="#">Registrate</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>