<body>
    <div class="contenedor">
        <div class="imagen">
            <span><img src="../../assets/img/LOGIN.png" alt="" srcset="" width="500" height="500"></span>
        </div>
        <div class="formulario" [formGroup]="formGroup">
            <h1>Inicio Administrador</h1>
            <form action="">
                <span>Ingrese su correo:</span>
                <input type='text' formControlName="correo">
                <span>Ingrese su contraseña:</span>
                <input type='password' formControlName="contrasena">
                <span class="icon">
                    <i class="fas fa-key"></i>
                </span>
            </form>
            <button class="bn5" (click)="login()">Iniciar Sesion</button>
            <br>
            <button class="botoncito" (click)="moverse()">Regresar a Login Principal</button>
        </div>
    </div>
</body>