<app-main-toolbar></app-main-toolbar>

<body>
    <div class="contenedor-portada">
        <div class="capa-gradiente">
            <div class="contenedor-detalles">
                <div class="detalles">
                    <h1>Car<span>rito</span></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="contenedor">
            <h1>Visualizar Articulos en carrito</h1>
            <hr style="color: black; background-color: black; " />
            <!--Imprimir tabla de carrito-->
            

            <hr style="color: black; background-color: black; " />
            <p class="subtotal"> Subtotal:</p>
            <hr style="color: black; background-color: black; " />
            <button class="bn5" (click)="form()">Formulario de pago</button>
            <button class="bn5" (click)="prod()">Seguir Comprando</button>
            
        </div>
        
    </div>
</body>
    