<body>
    <section>
         <div class="navegacion">
             <div class="encabezadito">
                 <h2>DASHBOARD</h2>
             </div>
             <ul>
                 <li class="lista activo ">
                     <a href="#">
                         <!--<span class="icon"><ion-icon name="key-outline"></ion-icon></span>-->
                         <span class="titulo">Productos</span>
                     </a>
                 </li>
                 <li class="lista ">
                     <a href="#">
                         <!--<span class="icon"><ion-icon name="key-outline"></ion-icon></span>-->
                         <span class="titulo">Cuentas</span>
                     </a>
                 </li>
                 <li class="lista">
                     <a href="#">
                         <!--<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>-->
                         <span class="titulo">Cerrar Sesion</span>
                     </a>
                 </li>
             </ul>
         </div>
        <div class="cuadro">
             <h1>Registro y Modificacion Productos</h1>
        </div>    
     </section>
 </body>
