@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans&family=Open+Sans:wght@700&family=Poppins:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


header{
    position: relative;
    width: 100%;
    top:0;
    left: 0;
    background: white;
}
/*Header superior*/

.header_superior{
   max-width: 1200px;
   margin: auto;
   display: flex;
   align-items: center; 
   justify-content: space-between;
   padding: 10px;
}

.logo img{
    width: 130px;
}

/*Menu*/

.container_menu{
    width: 100%;
    height: 70px;
    background: #4d5bf9;
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;

}

nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav>ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav>ul>li:first-child>a{
    background-image: url(../../assets/img/home_icon.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;

}

nav>ul>li:first-child:hover>a{
    background-image: url(../../assets/img/home_icon.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    
}

nav>ul>li>a:hover{
    transform: scale(1.1);
    background: #2a348e;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

#selected{
    transform: scale(1.1);
    background-color: #2a348e;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*SUBMENU*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index:10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content:'';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right:12px solid transparent ;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color:#4d5bf9;
    padding: 6px;
    padding-left: 14px;
    margin-top:10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background:#2a348e;
    color:white;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*Responsive*/
.icon_menu{
    font-size: 26px;
    color:white;

    width: 26px;
    height: 100%;
    display: none;
    align-items: center;

}

#label_check{
    width: 26px;
    height: 100%;
    display: none;
}

#check_menu{
    display: none;
}

.main{
    background: #ffffff;
    padding: 40px 20px;
    
}

.contenedor{
    max-width: 1800px;
    margin: 20px auto;
    padding: 40px;
    background: rgb(149, 149, 149);
    font-weight: bold;
    font-size: 20px;

}

.contenedor-2{
    display: flex;
    flex-direction: row;
}

.contenedor-4{
    margin-top: 50px;
}

.tablita{
    margin-left: 50px;
}

.contenedor-3{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.formulario2{
    width: 30%;
    color: black;
    margin-top: 20px;
    margin-left: 50px; 
}

.tabla_usuarios{
    margin-left: 30px;
    width: 70%;
    left: 35%;
    margin-top: 20px;
}

.formulario{
    width: 30%;
    color: black;
    margin-top: 20px;
    margin-left: 50px;
}

.tabla-productos{
    width: 70%;
    margin-left: 30px;
    margin-top: 20px;
}

table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.mat-radio-button ~ .mat-radio-button {
    margin-left: 80px;
  }

.boton_productos{
    width: 80%;
    height: 40px;
}

.boton_clientes{
    margin-top: 20px;
    width: 80%;
    height: 40px;
}

.boton_clientes2{
    background-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 40px;
}

.mat-lab{
    color: black;
    
}

.inputs{
    font-size: 12px;
}

.titulo_productos{  
    margin-bottom: 30px;
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
}

.titulo_productos2{  
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}



.example-form {
    
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    
    width: 100%;
  }



@media (max-width:720px){
    .buscador input{
        display:none;
    }

    .header_superior{
        padding: 10px;
    }

    .logo img{
        width: 100px;
    }

    nav>ul{
        flex-direction: column;
        background-color: #4d5bf9;
        position: fixed;
        left: 0;
        top: 150px;
        width: 100%;
        height: 0;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul>li>a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover ul{
        top:50px;
    }

    nav>ul>li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

    #label_check{
        display: block;

    }

    .icon_menu{
        display: flex;
    }

    #check_menu:checked ~nav>ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
}